{% extends 'base.html' %}
<h1>ajouter bus</h1>

{% block content %}
<form action="{{ url_for('ajouter') }}" method="POST">
    <label for="numero">numero : </label>
    <input type="text" maxlength="4" name="numero" required>

    <label for="immatriculation">immatriculation   : </label>
    <input type="text" maxlength="9" name="immatriculation" required>

    <label for="nombre_place">nombre de places   : </label>
    <input type="number" min="1" max="40" name="nombre_place" required>

    <label for="id_ligne">ligne : </label>
    <select name="id_ligne" id="id_ligne">
        {% for id in id_ligne %}
            <option value="{{ id[0] }}">{{ id[0] }}</option>
        {% endfor %}
    </select>

    <button type = "submit"> Modifier un bus </button>

</form>
{% endblock %}