{% extends 'base.html' %}


{% block content %}
<form>
    <div class="form">
        
        <label for="arrets">Arrêts : </label>
            <select name="arrets" size="1">
                <option>Korrigan</option>
                <option>Morgana</option>
                <option>L'Ankou</option>
                <option>L'Ys</option>
                <option>Viviane</option>
                <option>Guénolé</option>
            </select>
        </input>
    </div>
</form> 

{% endblock %}